<div>
  <h2>Producto</h2>

  <table>
    <tr>
      <td colspan="2"><img src="/img/noFoto.png" alt="" width="20%" height="20%"></td>
    </tr>

    <tr>
      <td>Codigo</td>
      <td><input type="number" name="" id="" [(ngModel)]="producto.codigo"></td>
    </tr>

    <tr>
      <td>Nombre</td>
      <td><input type="text" name="" id="" [(ngModel)]="producto.nombre"></td>
    </tr>

    <tr>
      <td>Descripcion</td>
      <td><input type="text" name="" id="" [(ngModel)]="producto.descripcion"></td>
    </tr>

    <tr>
      <td>Existencia</td>
      <td><input type="number" name="" id="" [(ngModel)]="producto.existencia"></td>
    </tr>

    <tr>
      <td>Precio</td>
      <td><input type="number" name="" id="" [(ngModel)]="producto.precio"></td>
    </tr>

    <tr>
      <td>Foto:</td>
      <td><input type="file" name="" id=""></td>
    </tr>

    <tr>
      <td colspan="2"></td>
      <input type="button" value="Guardar" (click)="guadarProducto()">
      <input type="button" value="Modificar">
      <input type="button" value="Eliminar">
      <input type="button" value="Ver lista">
    </tr>



  </table>

  <br><br>
</div>
